<%- include('navigation.ejs') %>

    <div class="detail-container">
        <h2><%= title %></h2>
        <h3>By: <%= person %></h3>
        <p><%= text %></p>
        <p>Added: <%= added %></p>
    
        <div class="form-buttons">
            <form action="/" method="GET">
                <button class="btn" type="submit">Back</button>
            </form>
            <form action="/delete/<%=id%>" method="POST">
                <button class="btn" type="submit">Delete Message</button>
            </form>
        </div>
    
</div>
<%- include('footer.ejs') %>