<%- include('navigation.ejs') %>

    <div class="detail-container">
        <h1><%= user %></h1>
        <h3><%= title %></h3>
        <p><%= text %></p>
        <p><%= added %></p>
    

    <form action="/" method="GET">
        <button class="btn" type="submit">Back</button>
    </form>
</div>
<%- include('footer.ejs') %>