<%- include('navigation.ejs') %>

    <div class="detail-container">
        <h2><%= title %></h2>
        <h3>By: <%= person %></h3>
        <p><%= text %></p>
        <p>Added: <%= added %></p>
    

    <form action="/" method="GET">
        <button class="btn" type="submit">Back</button>
    </form>
</div>
<%- include('footer.ejs') %>