<%- include('navigation.ejs') %>

    <% for (let message of messages) { %>
        <div class="message">
            <h2><%= message.user %></h2>
            <p><%= message.title %></p>
            <p><%= message.added %></p>

            <form action= "/details/<%=message.messageId%>" method="get">
                <button class="btn" type="submit">Open</button>
            </form>
        </div>
    <% } %>
<%- include('footer.ejs') %>